:root {
  --tw-bg-opacity: 0.8;
}

.slidev-layout {
  background-color: rgb(33, 41, 76);
  color: white;
}

h1,
h2 {
  opacity: var(--tw-bg-opacity);
}

h1 {
  color: #ff00ff;
  line-height: 1 !important;
}
